# Unignore all with extensions
!*.*
*/tmp-glibc/
*/tmp/
*/sstate-cache/
*/cache/
*/downloads/
*.log
*.exe
*.deb
*.rpm
*.o
*.so
*.a
sources/meta-mypi/recipes-app/helloworld/build
sources/meta-mypi/recipes-app/starfield/build
sources/meta-mypi/recipes-bsp/mydriver/build
qemu-build/bitbake.lock
sources/meta-mypi/recipes-bsp/mydriver/files/src/Kbuild
