[submodule "meta-openembedded"] 
  path = sources/meta-openembedded 
  url = https://github.com/openembedded/meta-openembedded.git
 
[submodule "meta-qt5"] 
  path = sources/meta-qt5
  url = https://github.com/meta-qt5/meta-qt5.git
  
[submodule "meta-raspberrypi"] 
  path = sources/meta-raspberrypi
  url = https://github.com/agherzan/meta-raspberrypi.git
  
[submodule "poky"] 
  path = sources/poky
  url = https://github.com/yoctoproject/poky.git


[submodule "azure-iot-sdk-c"] 
  path = sources/meta-mypi/recipes-core/azure-iot-sdk-c
  url = https://github.com/JimmyHeartbreaker/azure-iot-sdk-c.git
  branch = mypi