# Ignore all
*
# Unignore all with extensions
!*.*
!/sources/meta-mypi/recipes-app/helloworld-gtk/files
!/sources/meta-mypi/recipes-app/helloworld-gtk/
!/sources/meta-mypi/recipes-app/
!/sources/meta-mypi/
!/sources/
*/tmp-glibc/
*/tmp/
*/sstate-cache/
*/cache/
*/downloads/
*.log
*.exe
*.deb
*.rpm
*.o
*.so
*.a
