# Unignore all with extensions
!*.*
*/build/
*/tmp-glibc/
*/tmp/
*/sstate-cache/
*/cache/
*/downloads/
*.log
*.exe
*.deb
*.rpm
*.o
*.so
*.a
sources/meta-mypi/recipes-app/Starfield/build/.ninja_deps
sources/meta-mypi/recipes-app/Starfield/build/.ninja_log
sources/meta-mypi/recipes-app/Starfield/build/build.ninja
sources/meta-mypi/recipes-app/Starfield/build/CMakeCache.txt
sources/meta-mypi/recipes-app/Starfield/build/compile_commands.json
sources/meta-mypi/recipes-app/Starfield/build/Starfield
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/cache-v2-9c1f150e52bbaca903d3.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/cache-v2-398d80270359c9b79156.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/cmakeFiles-v1-8c71aa6223bf8f8620ad.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/cmakeFiles-v1-efa63ddbb9896cda4e19.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/codemodel-v2-339f8e90bdd4a1d335ff.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/codemodel-v2-c9e88b12afc43eabf365.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/index-2023-06-28T11-49-36-0252.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/index-2023-06-29T15-38-17-0215.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/target-Starfield-Debug-9e3a15a370cd5211d34f.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/target-Starfield-Debug-43cd7b298ee4ec929c98.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/toolchains-v1-e05adf0ddfbfe6070bf0.json
sources/meta-mypi/recipes-app/Starfield/build/.cmake/api/v1/reply/toolchains-v1-e69ebc80e3e1ea34c59d.json
sources/meta-mypi/recipes-app/Starfield/build/CMakeFiles/rules.ninja
sources/meta-mypi/recipes-app/Starfield/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
sources/meta-mypi/recipes-app/Starfield/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
sources/meta-mypi/recipes-app/Starfield/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
